<form action="/user_session" method="post" style="display: inline;">
<input type="text" name="user_session[login]" />
<input type="password" name="user_session[password]" />
<input type="submit" value="Login">
</form>
<%= link_to("Create a new user", new_user_url) %>