<h5>Top 5 attendeed courses</h5>
<% top_5_courses = CourseRegistration.top_5_attendeed_courses %>
<%= image_tag "http://chart.apis.google.com/chart?cht=p3&chd=t:#{top_5_courses.map{|c| c.last}.map(&:to_s).join(',')}&chs=400x150&chl=#{top_5_courses.map{|c| c.first}.map(&:name).join('|')}" %>