<h2>Courses</h2>

<table>
<% @courses.each do |course| %>
	<tr>
		<td><%= link_to course.name, course_path(course), :class => 'name' %></td>
		<td class='description'><%= course.description %></td>
	</tr>
<% end -%>
</table>