<%= link_to('Back to list', courses_path, :class => 'back_to_index') %>

<div class="course show">
	<div class="name"><%= @course.name %></div>
	<div class="description"><%= nl2br(@course.description) %></div>
</div>