<html>
	<head>
		<title>Ilmo 2.0</title>
		<%= stylesheet_link_tag "application" %>
	</head>
	
	<body marginheight="0" marginwidth="0">
		
		<div class="header"><%= current_time %></div>
		
		<div class="content">
		<%= yield %>
		</div>
		
	</body>
</html>